@font-face {
	font-family: Moanas;
	src: url("/fonts/Moanas.ttf");
}
@media (max-width: 425px) {
	:global(body) {
		margin: 0;
		padding: 0;
			background-color: var(--secondary-background);
			background-image: url("/images/background4.png");
			background-repeat: no-repeat;
			background-size: 100%;
			color: var(--primary-background);
			font-family: Moanas;
			text-align: center;
	}
	:global(h1, h2, h3, p) {
		color: var(--secondary-background);
		font-family: Moanas;
		font-weight: normal;
		font-style: normal;
		text-align: center;
	}
	:root {
		--primary-background: #c59b79;
		--secondary-background: #ffffff;
		--tertiary-background: #40b4fb;
	}
}